<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.template.service.CityMapper">
	<!-- delete 도시 삭제 -->
	<delete id="deleteCity" parameterType="com.project.template.service.City">
		DELETE FROM city
		WHERE city_id = #{cityId}
	</delete>
	
	<!-- update 도시 수정 -->
	<update id="updateCity" parameterType="com.project.template.service.City">
		UPDATE city
		SET city_name = #{cityName}
		WHERE city_id = #{cityId}
	</update>
	
	<!-- update view 도시 조회 (수정) -->
	<select id="selectCityId" parameterType="int" resultType="com.project.template.service.City">
		SELECT
			city_id as cityId
			, city_name as cityName
		FROM city
		WHERE city_id = #{cityId}
	</select>
	
	<!-- insert 도시 추가 -->
	<insert id="insertCity" parameterType="com.project.template.service.City">
		INSERT INTO city
			(city_name)
		VALUES
			(#{cityName})
	</insert>
	
	<!-- select 도시 전체 조회 -->
	<select id="selectCityList" resultType="com.project.template.service.City">
		SELECT 
			city_id as cityId
			, city_name as cityName
		 FROM city
	</select>
</mapper>
